## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: gpg-bash-lib
Section: libs
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Whonix/gpg-bash-lib
Vcs-Browser: https://github.com/Whonix/gpg-bash-lib
Vcs-Git: https://github.com/Whonix/gpg-bash-lib.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: gpg-bash-lib
Architecture: all
Depends: ${misc:Depends}
Description: gpg bash library
 Abstracts file verification into common functions. Allows detecting of stale
 files, i.e. detection downgrade or indefinite freeze attacks by implementing
 a valid-until like mechanism.
 .
 Internally parses gpg's --status-file output.
 .
 For better security.
